.rounded-half {
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;

    & > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
}

.submenu {
    display: none;
}

.btn-custom {
    border-radius: 2rem 2rem 2rem 0;
    padding: 7px 15px;
    box-shadow: 0 1px 14.58px 3.42px rgba(222, 80, 83, 0.18);
}

.btn-custom-second {
    border-radius: 2rem 0 2rem 0;
    padding: 7px 15px;
    box-shadow: 0 1px 14.58px 3.42px rgba(222, 80, 83, 0.18);
}

.btn-danger-gradient {
    background-image: -moz-linear-gradient(-11deg, rgb(254, 89, 89) 0%, rgb(255, 44, 44) 100%);
    background-image: -webkit-linear-gradient(-11deg, rgb(254, 89, 89) 0%, rgb(255, 44, 44) 100%);
    background-image: -ms-linear-gradient(-11deg, rgb(254, 89, 89) 0%, rgb(255, 44, 44) 100%);
    background-image: linear-gradient(-11deg, rgb(254, 89, 89) 0%, rgb(255, 44, 44) 100%);
    border-color: transparent;
    color: #fff;
}

.btn-darkBlue {
    background-color: $darkBlue;
    color: #fff;

    &:hover {
        color: $red;
    }
}

.shadow-circle-red {
    box-shadow: 0 1px 20.25px 6.75px rgba(222, 80, 83, 0.27);
}

.text-gradient {
    color: #f25756;
    background: -webkit-linear-gradient(left, rgba(201, 201, 201, 1) 0%, rgba(201, 201, 201, 1) 50%, rgba(242, 86, 86, 1) 50%, rgba(242, 86, 86, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card.custom {
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0 1px 19.11px 1.89px rgba(0, 0, 0, 0.05);
    width: 100%;
    border: none;
    padding: 15px;

    .card-body {
        padding: 0;
    }

    .card-title {
        & > span, .MainTitle {
            background-color: #f7f7f7;
            border-radius: 2rem;
            color: #6f6f6f;
            padding: 2px 10px;
        }
    }
}

.btn-bright {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 102% 102%;
    color: #fff;
}

.rounded-corner-1 {
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.rounded-corner-2 {
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.rounded-corner-3 {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
}

.rounded-corner-4 {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
}

.rounded-corner-5 {
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.rounded-corner-6 {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.rounded-corner-1-half {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.rounded-corner-2-half {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rounded-corner-3-half {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.rounded-corner-4-half {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.rounded-corner-5-half {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.rounded-all-corners-half {
    border-radius: 20px;
}

.rounded-corner-6-half {
    border-radius: 0!important;
    border-top-left-radius: 20px!important;
    border-bottom-left-radius: 20px!important;
}

.rounded-corner-7-half {
    border-radius: 0!important;
    border-top-right-radius: 20px!important;
    border-bottom-right-radius: 20px!important;
}

.btn-blue {
    background-image: -webkit-linear-gradient(-11deg, rgba(42, 176, 206, .6) 0%, rgba(131, 212, 230, .6) 100%), url("images/btn_bg.jpg");
    background-image: -o-linear-gradient(-11deg, rgba(42, 176, 206, .6) 0%, rgba(131, 212, 230, .6) 100%), url("images/btn_bg.jpg");
    background-image: linear-gradient(-11deg, rgba(42, 176, 206, .6) 0%, rgba(131, 212, 230, .6) 100%), url("images/btn_bg.jpg");
    box-shadow: 0 1px 26.24px 5.76px rgba(125, 182, 217, 0.28);

    .counter {
        color: rgb(43, 114, 161) !important;
        font-weight: bold;
        text-shadow: 0px 3px 5.7px rgba(0, 0, 0, 0.06);
    }
}

.btn-blue-2 {
    background-image: -webkit-linear-gradient(-11deg, rgba(42, 160, 181, .6) 0%, rgba(32, 225, 223, .6) 100%), url("images/btn_bg.jpg");
    background-image: -o-linear-gradient(-11deg, rgba(42, 160, 181, .6) 0%, rgba(32, 225, 223, .6) 100%), url("images/btn_bg.jpg");
    background-image: linear-gradient(-11deg, rgba(42, 160, 181, .6) 0%, rgba(32, 225, 223, .6) 100%), url("images/btn_bg.jpg");
    box-shadow: 0px 1px 26.24px 5.76px rgba(125, 182, 217, 0.28);

    .counter, &:hover .counter {
        color: rgb(43, 114, 161) !important;
        font-weight: bold;
        text-shadow: 0px 3px 5.7px rgba(0, 0, 0, 0.06);
    }
}

.btn-pink {
    background-image: -webkit-linear-gradient(-11deg, rgba(210, 32, 170, .6) 0%, rgba(115, 127, 216, .6) 100%), url("images/btn_bg.jpg");
    background-image: -o-linear-gradient(-11deg, rgba(210, 32, 170, .6) 0%, rgba(115, 127, 216, .6) 100%), url("images/btn_bg.jpg");
    background-image: linear-gradient(-11deg, rgba(210, 32, 170, .6) 0%, rgba(115, 127, 216, .6) 100%), url("images/btn_bg.jpg");
    box-shadow: 0 1px 26.24px 5.76px rgba(210, 95, 195, 0.28);
}

.btn-purple {
    background-image: -webkit-linear-gradient(-11deg, rgba(249, 106, 237, .6) 0%, rgba(173, 10, 175, .6) 100%), url("images/btn_bg.jpg");
    background-image: -o-linear-gradient(-11deg, rgba(249, 106, 237, .6) 0%, rgba(173, 10, 175, .6) 100%), url("images/btn_bg.jpg");
    background-image: linear-gradient(-11deg, rgba(249, 106, 237, .6) 0%, rgba(173, 10, 175, .6) 100%), url("images/btn_bg.jpg");
    box-shadow: 0px 1px 26.24px 5.76px rgba(210, 95, 195, 0.28);

    .counter, &:hover .counter {
        color: #d45cc2 !important;
        font-weight: bold;
        text-shadow: 0px 3px 5.7px rgba(0, 0, 0, 0.13);
    }
}

.btn-green {
    background-image: -webkit-linear-gradient(-11deg, rgba(17, 167, 105, .6) 0%, rgba(25, 210, 155, .6) 100%), url("images/btn_bg.jpg");
    background-image: -o-linear-gradient(-11deg, rgba(17, 167, 105, .6) 0%, rgba(25, 210, 155, .6) 100%), url("images/btn_bg.jpg");
    background-image: linear-gradient(-11deg, rgba(17, 167, 105, .6) 0%, rgba(25, 210, 155, .6) 100%), url("images/btn_bg.jpg");
    box-shadow: 0px 1px 26.24px 5.76px rgba(125, 182, 217, 0.28);

    .counter, &:hover .counter {
        color: rgb(43, 114, 161) !important;
        font-weight: bold;
        text-shadow: 0px 3px 5.7px rgba(0, 0, 0, 0.13);
    }
}

.btn-info-2 {
    background-color: #00bff3;
    border-color: transparent;
    color: #fff;
}

.btn-purple-2 {
    background-color: #e738d0;
    border-color: transparent;
    color: #fff;
}

.btn-secondary-2 {
    background-color: #b7b7b7;
    border-color: transparent;
    color: #fff;
}

.btn-success-2 {
    background-color: #26bca9;
    border-color: transparent;
    color: #fff;
}

.bg-info-2 {
    background-color: #87def6;
}

.bg-info-3 {
    background-color: #61cec0;
}

.bg-info-4 {
    background-color: #e9f8f6;
}

.bg-purple-2 {
    background-color: #f1a0e6;
}

.bg-success-2 {
    background-color: #98ddd4;
}

.bg-secondary-2 {
    background-color: #f9f9f9;
}

.bg-secondary-3 {
    background-color: #e7e5e5;
    &.active {
        background-color: #fbe8e8;
        color: #b63e3e;
    }
    &.info {
        background-color: #c4ede9;
        color: #505a69;
    }
}

.text-dark-2 {
    color: #838383;
}

.text-dark-3 {
    color: #181a19;
}

.text-secondary-2 {
    color: #b0b0b0;
}

.smaller {
    font-size: 70%;
}

.hide:not(.active) {
    display: none;
}

.vertical-separator {
    height: 100%;
    width: 2px;
    background: rgba(138, 138, 138, 1);
    background: -moz-linear-gradient(top, rgba(138, 138, 138, 0) 0%, rgba(138, 138, 138, 1) 30%, rgba(138, 138, 138, 1) 70%, rgba(138, 138, 138, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(138, 138, 138, 0) 0%, rgba(138, 138, 138, 1) 30%, rgba(138, 138, 138, 1) 70%, rgba(138, 138, 138, 0) 100%);
    background: -o-linear-gradient(top, rgba(138, 138, 138, 0) 0%, rgba(138, 138, 138, 1) 30%, rgba(138, 138, 138, 1) 70%, rgba(138, 138, 138, 0) 100%);
    background: -ms-linear-gradient(top, rgba(138, 138, 138, 0) 0%, rgba(138, 138, 138, 1) 30%, rgba(138, 138, 138, 1) 70%, rgba(138, 138, 138, 0) 100%);
    background: linear-gradient(to bottom, rgba(138, 138, 138, 0) 0%, rgba(138, 138, 138, 1) 30%, rgba(138, 138, 138, 1) 70%, rgba(138, 138, 138, 0) 100%);
}

.sticky-sidebar {
    position: sticky;
    top: 75px;
}

.timeline {
    margin-right: 50px;
    position: relative;

    .timeline-item {
        position: relative;

        .counter {
            position: absolute;
            top: 0;
            right: -50px;
            background: url("images/timeline.png") center center no-repeat;
            background-size: cover;
            color: #fff;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 75px;
            z-index: 1;
            font-weight: bold;
        }
    }

    &:after {
        content: " ";
        position: absolute;
        right: -35px;
        height: 100%;
        width: 6px;
        top: 0;
        background-color: #ebebeb;
    }
}

.w-20p {
    width: 20px;
}

form.corner {
    .form-control {
        background-color: #f6f6f6;
        border-color: transparent;
    }

    .btn:not(.note-btn), select, .form-control {
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .absolute-badge {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
    }
}

.accordion .card-body form.corner {
    .form-control , select {
        background-color: #f6f6f6;
        border-color: #e1e1e1;
    }
}

.round {
    &.btn, &.selectpicker, &.form-control {
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

.fHeight {
    height: 89vh;
}

.show {
    display: block;
}

.pointer {
    cursor: pointer;
}

ul.custom-ul {
    & > li {
        list-style: none;
        position: relative;

        &::before {
            content: "\f100";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            position: absolute;
            right: -20px;
            top: 3px;
            bottom: 0;
            @include trans(.1s);
        }

        &:hover::before {
            color: #d06062;
            right: -15px;
        }
    }
}
.mt-50 {
    margin-top: 50%;
}
.mt-40 {
    margin-top: 40%;
}
.mt-30 {
    margin-top: 30%;
}
.mt-n50 {
    margin-top: -50%;
}
.mt-n40 {
    margin-top: -40%;
}
.mt-n30 {
    margin-top: -30%;
}
.silver {
    color: #bdc3c7!important;
}
.silver-border {
    border-color: #bdc3c7!important;;
}
.bronze {
    color: #ecac14!important;;
}
.bronze-border {
    border-color: #ecac14!important;;
}
.gold {
    color: #f1d448!important;;
}
.gold-border {
    border-color: #f1d448!important;;
}
.blue {
    color: #0bbed7!important;;
}
.blue-border {
    color: #0bbed7!important;;
}

.notify {
    display: table;
    div , p {
        height: 100%;
        display: table-cell;
    }
    div {
        border-radius: 5px;
    }
    p {
        color: #6f6f6f;
        text-align: justify;
        width: 99.4%;
        padding-right: 5px;
    }
    &.notify-info {
        div {
            background-color: #26bca9;
        }
    }
}

.text-dark-4 {
    color: #757575;
}


.blue-gradient {
    color: #fff;
    background-color: #0ec0d9;
    &:hover {
        background-color: #0db1c8;
        color: #fff;
    }
}

.bronze-gradient {
    color: #fff;
    background-image: -moz-linear-gradient( -11deg, rgb(219,167,67) 0%, rgb(235,171,23) 100%);
    background-image: -webkit-linear-gradient( -11deg, rgb(219,167,67) 0%, rgb(235,171,23) 100%);
    background-image: -ms-linear-gradient( -11deg, rgb(219,167,67) 0%, rgb(235,171,23) 100%);
    background-image: linear-gradient( -11deg, rgb(219,167,67) 0%, rgb(235,171,23) 100%);
    &:hover {
        color: #fff;
    }
}

.silver-gradient {
    color: #6b6b6b;
    background-image: -moz-linear-gradient( -11deg, rgb(244,244,244) 0%, rgb(234,234,234) 100%);
    background-image: -webkit-linear-gradient( -11deg, rgb(244,244,244) 0%, rgb(234,234,234) 100%);
    background-image: -ms-linear-gradient( -11deg, rgb(244,244,244) 0%, rgb(234,234,234) 100%);
    background-image: linear-gradient( -11deg, rgb(244,244,244) 0%, rgb(234,234,234) 100%);
}

.gold-gradient {
    color: #fff;
    background-image: -moz-linear-gradient( -11deg, rgb(223,186,2) 0%, rgb(255,225,76) 100%);
    background-image: -webkit-linear-gradient( -11deg, rgb(223,186,2) 0%, rgb(255,225,76) 100%);
    background-image: -ms-linear-gradient( -11deg, rgb(223,186,2) 0%, rgb(255,225,76) 100%);
    background-image: linear-gradient( -11deg, rgb(223,186,2) 0%, rgb(255,225,76) 100%);
    &:hover {
        color: #fff;
    }
}

.typographic{
    text-shadow: 0 2px 0 #000;
    cursor: default;
    &::selection{
        background-color: transparent;
    }
}

.btn-gradient-primary {
    background-image: -moz-linear-gradient( 73deg, rgb(0,173,238) 0%, rgb(41,73,172) 0%, rgb(34,119,194) 46%, rgb(26,165,216) 100%);
    background-image: -webkit-linear-gradient( 73deg, rgb(0,173,238) 0%, rgb(41,73,172) 0%, rgb(34,119,194) 46%, rgb(26,165,216) 100%);
    background-image: -ms-linear-gradient( 73deg, rgb(0,173,238) 0%, rgb(41,73,172) 0%, rgb(34,119,194) 46%, rgb(26,165,216) 100%);
    background-image: linear-gradient( 73deg, rgb(0,173,238) 0%, rgb(41,73,172) 0%, rgb(34,119,194) 46%, rgb(26,165,216) 100%);;
    color: #fff;
    background-size: 200% 200%;
    @include trans(.15s);
    &:hover {
        background-position: 100% 100%;
        color: #fff;
    }
}

.btn-gradient-danger {
    background-image: -moz-linear-gradient( -11deg, rgb(254,89,89) 0%, rgb(242,64,63) 100%);
    background-image: -webkit-linear-gradient( -11deg, rgb(254,89,89) 0%, rgb(242,64,63) 100%);
    background-image: -ms-linear-gradient( -11deg, rgb(254,89,89) 0%, rgb(242,64,63) 100%);
    background-image: linear-gradient( -11deg, rgb(254,89,89) 0%, rgb(242,64,63) 100%);
    color: #fff;
    background-size: 200% 200%;
    @include trans(.15s);
    &:hover {
        background-position: 100% 100%;
        color: #fff;
    }
}

.shadow-danger {
    box-shadow: 0px 1px 14.58px 3.42px rgba(222, 80, 83, .2);
}

.text-shadow-danger {
    text-shadow: 0 1px 14.58px rgb(222, 80, 83);
    color: #ff5959;
}

.btn-blue-3{
    border-color: transparent;
    background-color: #395a7d;
    color: #fff;
    &:hover{
        background-color: #355577;
        color: #fff;
    }
}

.btn-darkBlue-2{
    border-color: transparent;
    background: #2b4d70 url("../images/btn.png") center right no-repeat;
    background-size: auto 110%;
    background-position-x: right;
    box-shadow: 0 1px 41.86px 4.14px rgba(0, 0, 0, 0.07);
    color: #fff;
    &:hover{
        background-color: #345e88;
        color: #fff;
    }
}

.blinker {
    animation: blinker 1s linear infinite;
    &:hover {
        animation: none;
    }
}

.avatarSpec {
    border-radius: 50%;
    border: 3px solid #2aff7d;
    box-shadow: 0px 1px 19.11px 1.89px rgba(0, 0, 0, 0.05);
    width: 95px;
}
.w-47 {
    width: 47% !important;
}

.btn-floating {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    transition: all .2s ease-in-out;
    margin: 10px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    &.btn-sm {
        width: 36.15385px;
        height: 36.15385px;
        i {
            font-size: .96154rem;
            line-height: 36.15385px;
        }
    }
    i {
        display: inline-block;
        width: inherit;
        text-align: center;
        color: #fff;
        font-size: 1.25rem;
        line-height: 47px;
    }
}
.btn-ig {
    background-color: #E1306C!important;
    color: #fff;
}
.btn-tg {
    background-color: #55acee!important;
    color: #fff;
}

.project-c {
    color: #fff;
    &.sticky {
        background-color: #5682f2;
    }
    &.normal {
        background-color: #26bca9;
    }
    &.private {
        background-color: #c456f2;
    }
    &.urgent {
        background-color: #f25756;
    }
    &.special {
        background-color: #f2de56;
    }
    &.hire {
        background-color: #56f2a3;
    }
}

// Notifications
@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        top: 1rem;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
    0% {
        top: 1rem;
        opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}



.marker {
    margin: 0;
    color: white;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
    background: #3498db;
}

.marker::before, .marker::after {
    content: '';
    position: absolute;
    top: 0;
    margin: 0 -1px;
    width: 100%;
    height: 100%;
    background: inherit;
    min-width: 55px
}

.marker::before {
    right: 100%
}

.marker::after {
    left: 100%
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    -ms-transform: translateX(30%) translateY(0%) rotate(45deg);
    -webkit-transform: translateX(30%) translateY(0%) rotate(45deg);
    transform: translateX(30%) translateY(0%) rotate(45deg);
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.marker-overlay {
    position: absolute;
    left: 0%;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 5;
    -webkit-transition: width 1s ease, height 1s ease;
    -moz-transition: width 1s ease, height 1s ease;
    -o-transition: width 1s ease, height 1s ease;
    transition: width 0.4s ease, height 0.4s ease
}

#onlineChat {
    position: fixed;
    bottom: 25px;
    left: 40px;
    z-index: 6000;
    button {
        width: 60px;
        height: 60px;
    }
    .count {
        position: absolute;
        top: 0;
        right: 0;
        background-color: red;
        width: 20px;
        height: 20px;
        font-size: 15px;
        border-radius: 50%;
    }
}

.btn-circle-sm {
    width: 30px;
    height: 30px;
    border-radius: 50%!important;
}
.btn-circle-md {
    width: 45px;
    height: 45px;
    border-radius: 50%!important;;
}
.btn-circle-lg {
    width: 60px;
    height: 60px;
    border-radius: 50%!important;;
}

.title-caption {
    display: block;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #e7e5e5;
    border-radius: 2rem;
    color: #6f6f6f;
    padding: 2px 10px;
}


.urgent-color {
    color: rgb(242, 87, 86);
}
.sticky-color {
    color: #5682f2;
}
.special-color{
    color: #f2de56;
}
.private-color{
    color: #c456f2;
}
.hire-color{
    color: #56f2a3;
}

.urgent-bg {
    background-color: rgb(242, 87, 86);
}
.sticky-bg {
    background-color: #5682f2;
}
.special-bg{
    background-color: #f2de56;
}
.private-bg{
    background-color: #c456f2;
}
.hire-bg{
    background-color: #56f2a3;
}

.fullscreen {
    position: fixed;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    z-index: 5000;
}
