@include media-breakpoint-down(md){
    #sidebar {
        position: fixed;
        top: 0;
        right: -80%;
        width: 80%!important;
        z-index: 100;
        @include trans(.3s);
        .wrapper {
            z-index: 100;
            border-radius: 0!important;
        }
    }
    #content {
        width: 100% !important;
    }
    #profile , .header .text-right .btn {
        font-size: 80%;
    }
    #conversations .links .btn {
        font-size: 65%!important;
    }
}
@include media-breakpoint-down(sm) {
    .btn-gp {
        .btn {
            width: 98%!important;
            margin-bottom: 15px;
        }
    }
}
