@import "~sweetalert2/dist/sweetalert2.min.css";
@import "~summernote/dist/summernote-bs4.css";
@import "~persian-datepicker/dist/css/persian-datepicker.min.css";
body {
    #datatable_wrapper{
        #datatable_filter {
            text-align: left;
        }
    }
    .swal2-container {
        z-index: 5060!important;
    }
    .select2-container {
        width: 100%!important;
    }
    .select2-container .select2-selection--single {
        height: auto;
    }
    .cke_reset_all, .cke_reset_all *, .cke_reset_all a, .cke_reset_all textarea {
        font-family: Vazir, sans-serif;
    }
}
